.middle-pie {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    height: 360px;
    width: 360px;
    border: double 80px transparent;
    border-radius: 50%;
    background-image: radial-gradient(#091c63, #091c63),
        linear-gradient(270deg, #757fa3 15%, rgba(217, 217, 217, 0) 73.3%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* add a clipping path to show only 1/4 */
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.moving-ball {
    pointer-events: none;
    width: 360px;
    height: 360px;
    position: absolute;
    left: 8px;
    top: 0px;
    transform: rotate(0deg);
    padding: 8px;
    // background-color: rgba(255, 0, 0, 0.42);

    &::before {
        content: "";
        margin-left: 148px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        width: 64px;
        height: 64px;
        box-shadow: -2px 4px 18px #00000040;
    }
    &.ball-border {
        &::before {
            background-color: transparent;
            border: 2px dashed #ffffff80;
        }
    }
}

.pie {
    opacity: 1;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
        background: #091c63;
        border-radius: 50%;
    }
}

.pie-r {
    opacity: 1;
    // transform: translate(-50%, -50%) rotateX(180deg);
    transform: translate(-50%, -50%) rotateY(180deg) rotate(90deg);
}
