@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "inter";
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff50;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #ffffff;
  width: 4px;
}

.wallet-adapter-button {
  width: 100% !important;
}
.wallet-adapter-dropdown {
  width: 216px !important;
}
.playground .wallet-adapter-button.wallet-adapter-button-trigger {
  /* className="bg-[#7E49F0] my-8 rounded-2xl text-[20px] text-white-100 font-bold text-center py-4" */
  border-radius: 16px !important;
  text-align: center !important;
  background: #7e49f0 !important;
  margin-top: 32px !important;
  height: 62px !important;
  margin-bottom: 32px !important;
  display: flex !important;
  justify-content: center !important;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  white-space: nowrap !important;
}
